@charset "UTF-8";

.icon {
	width: 26px;
	height: 26px;
	vertical-align: middle;
}

.code {
	width: 60px;
	height: 35px;
	vertical-align: middle;
}

.icon_font {
	vertical-align: middle;
}